{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/bar.css')}}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark " id="navbar">
        <div class="container-fluid">
                <a class="navbar-brand" id="logo" href="#">
                    <img src="/assets/pictures/rc.png" alt="" width="42" height="40" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {% if is_granted('ROLE_CANDIDATE') %}
                                        <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="{{ path('app_user') }}">Profil</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_offer') }}">Consulter les offres</a>
                                        </li>
                                {% elseif is_granted('ROLE_RECRUITER') %}
                                        <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="{{ path('app_user') }}">Profil</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="#">Candidatures reçues</a>
                                        </li>
                                {% endif %}
                        </ul>
                        <span class="navbar-text">
                        {% if app.User %}
                        <a class="link-logout" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% endif %}
                        </span>
                </div>
        </div>
</nav>

