{% extends 'base.html.twig' %}

{% block title %}RH Conseil - compléter votre profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/user.css')}}">
{% endblock %}

{% block body %}
    {% include "_partials/_bar.html.twig" %}
    {% include "_partials/_side_bar.html.twig" %}
    {% if app.user %}
        {% if is_granted('ROLE_CANDIDATE') %}
            <div class="profil-container">
                {{ form_start(profileFillForm) }}
                {{ form_row(profileFillForm.lastname) }}
                {{ form_row(profileFillForm.firstname) }}
                <button type="submit" class="btn">Enregistrer</button>
                {{ form_end(profileFillForm) }}
            </div>
        {% elseif is_granted('ROLE_RECRUITER') %}
            <div class="profil-container">
                {{ form_start(profileFillForm) }}
                {{ form_row(profileFillForm.name) }}
                {{ form_row(profileFillForm.address) }}
                {{ form_row(profileFillForm.zipcode) }}
                {{ form_row(profileFillForm.city) }}
                <button type="submit" class="btn">Enregistrer</button>
                {{ form_end(profileFillForm) }}
            </div>
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}